body{
  font-family: 'Montserrat','Raleway',sans-serif;
  margin: 0;
}

#title {
  
  background: no-repeat center/cover;
  /* background-color: cornsilk; */
  background-image: linear-gradient(to bottom,rgba(92, 92, 88, 0.5),rgba(50, 50, 94, 0.5)), url('https://images.unsplash.com/photo-1455620450554-5e4b98be6926?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1153&q=80');
  margin:0 0;
  padding:0;
}

#navbarSupportedContent{
  position: absolute;
  right: 0;
}

#profile-image {
  border: solid white 2px;
  border-radius:5%;
  display: block;
  margin: 50px auto;
  width:400px;
  text-align: center;
}

#header-text {
  color: #e9e9e9;
  text-align: center;
  margin: 100px auto auto;
}

#header-text h1 {
  font-family: 'Oswald',sans-serif;
  font-size: 5rem;
  margin: 20px;
}

#header-text h3 {
  font-family: 'Qwigley',sans-serif;
  font-size: 3rem;
  
}

#tributes {
  margin: 50px;
  text-align: center;
}

#memories {
  background-color: beige;
  margin: 50px auto;
  padding-top: 50px;
}

#contact {
  text-align: center;
  border-bottom: 1px dotted #aaa; 
  padding-bottom: 60px;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.tribute {
  margin-bottom: 20px;
}

.bio-content {
  color: #115;
  line-height: 1.5rem;
  padding: 10px;
  text-align: left;
}

.bio-author {
  color: gray;
  display: block;
  text-align: right;
  margin-bottom: 10px;
  overflow: visible;
}

.memory {
  margin: 50px 0;
  padding: 0 100px;
}

.headshot {
  display: inline-block;
  border-radius: 50%;
}

.headshot h3 {
  display: inline-block;
}

.section-description {
  text-align: center;
  margin-bottom: 20px;;
}

.divider-1 span { 
  display: inline-block; 
  width: 200px; 
  border-bottom: 1px dotted #aaa; 
}

.contact-details {
  margin: 10px auto;
  text-align: left;
}

footer {
  padding: 60px 0;
  text-align: center;
  background-color: beige;
}

.footer-social a { 
  margin: 0 10px; 
  color: #bbb; 
  border: 0; 
}

.footer-social a:hover, .footer-social a:focus { 
  color: #856dc0; 
  border: 0; 
}

.footer-social i { 
  font-size: 24px; 
  vertical-align: middle; 
}